.works {
    width: 95%;
}

.masonry {
    padding: 100px 0;
}

@media only screen and (max-width: 950px) {
    .masonry {
        padding: 75px 0;
    }
}

body {
    overflow: scroll;
}

img {
    display: block;
    width: 100%; /* add media query */
}
