html,
body {
    /* No Scroll-bounce */
    height: 100%;
    overflow: hidden;
}

.App {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-height: 100vh;
    padding: 10px;

    /* No Scroll-bounce */
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    width: 100vw; */
}

input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}
